.homePage_body {
    margin: 0;
    padding: 0;
    /* background-image: url("/assets/img/wall_paper.jpg"); your wallpaper */
    background-color:rgb(44, 33, 25);
    background-size: cover;      /* make it full screen */
    background-position: center; /* center the image */
    background-attachment: fixed; /* optional: parallax effect */
    background-repeat: no-repeat;
}
.menuPage_body {
    margin: 0;
    padding: 0;
    /* background-image: url("/assets/img/menu-wall_paper.jpg"); your wallpaper */
    background-color:rgb(44, 33, 25);
    background-size: cover;      /* make it full screen */
    background-position: center; /* center the image */
    background-attachment: fixed; /* optional: parallax effect */
    background-repeat: no-repeat;
}

.content {
    position: relative; /* ensures content stays on top */
    z-index: 1;
    color: white; /* adjust text color */
    padding: 20px;
}

header img{
    width: 150px;
}

.gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}

.meal_show{
    margin-top: 3%;
    margin-left: 2%;
}
#meal_name{
    font-size: 50px;
    font-weight: bold;
}
#meal_category{
    font-size: 40px;
    font-style: italic;
}
#meal_area{
    font-size: 40px;
    font-style: italic;
}
#meal_tags{
    font-family: cursive;
    font-size: 35px;
    color: deepskyblue;
}
#meal_ins{
    font-family: cursive;
    color:deepskyblue;
    font-size: 25px;
}

footer{
    color: deepskyblue;
    font-size: 30px;
    font-weight: bold;
}

.thick-border {
    border: 10px solid deepskyblue; /* thickness + color */
    border-radius: 10px;    /* optional */
}

.instruction-box {
    padding: 15px;
    border: 3px solid deepskyblue;      /* outline the box */
    border-radius: 10px;
    background: rgba(90, 62, 35, 0.719); /* transparent background */
    font-size: 18px;
    font-family: cursive;

    height: 625px;         /* FIXED HEIGHT */
    overflow-y: auto;      /* ENABLE SCROLL */
}

.Info-box{
    padding: 15px;
    border: 5px solid deepskyblue;      /* outline the box */
    border-radius: 10px;
    background: rgba(110, 65, 23, 0.719); /* transparent background */
    font-size: 18px;
    font-family: cursive;

    height: 618px;         /* FIXED HEIGHT */
    overflow-y: auto;      /* ENABLE SCROLL */

    font-family: cursive;
    color:deepskyblue;
    font-size: 25px;
}

#filterResults{
    padding: 15px;
    border: 5px solid deepskyblue;      /* outline the box */
    border-radius: 10px;
    background: rgba(39, 36, 34, 0.719); /* transparent background */
    font-size: 18px;
    font-family: cursive;

    height: 795px;         /* FIXED HEIGHT */
    overflow-y: auto;      /* ENABLE SCROLL */

    font-family: cursive;
    color:deepskyblue;
    font-size: 25px;
}

.icon_bar img{
    width: 150px;
}

.nav-icon {
    width: 250px;
    transition: transform 0.3s ease; /* smooth animation */
}

.nav-icon:hover {
    transform: scale(1.2); /* zoom 20% */
}

.animate {
    animation: slideIn 0.8s ease;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu_filterBar input{
    height: 60px;
    width: 10%;
    background-color: rgb(44, 23, 7);
    color: aliceblue;
    font-family: cursive;
    font-size: 40px;
    border: 2px solid rgb(243, 247, 247);
    border-radius: 10px;
}
.menu_filterBar select{
    margin-left: 30px;
    height: 50px;
    width: 270px;
    background-color: rgb(77, 38, 9);
    color: aliceblue;
    font-family: cursive;
    font-size: 30px;
    border: 2px solid rgb(249, 252, 252);
    border-radius: 5px;
}
.menu_filterBar label{
    margin-left: 30px;
    width: 270px;
    color: aliceblue;
    font-family: cursive;
    font-size: 25px;
}

.menu_filterBar button{
    height: 90px;
    width: 200px;
    background-color: black;
    color: deepskyblue;
    font-family: cursive;
    font-size: 35px;
    border: 2px solid deepskyblue;
    border-radius: 10px;
}


@media (max-width: 2000px) {
    .filter-panel {
        flex-direction: column !important;
        width: 100% !important;
        margin: 20px 0 !important;
        gap: 20px;
    }

    .filter-panel div {
        width: 100% !important;
    }

    .filter-panel select {
        width: 100% !important;
        padding: 10px;
    }

    .filter-panel button {
        width: 100% !important;
        margin-left: 0 !important;
        padding: 15px;
        font-size: 18px;
    }
}

#name{
    font-size: 50px;
    font-weight: bold;
}
#category{
    font-size: 40px;
    font-style: italic;
}
#area{
    font-size: 40px;
    font-style: italic;
}
#tags{
    font-family: cursive;
    font-size: 25px;
    color: deepskyblue;
}

.meal-item {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    margin-left: 80px;
    margin-right: 80px;
}

.meal-item img {
    width: 200px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.meal-item span {
    font-size: 35px;
    font-weight: 500;
}
